<div id="citations">
    Sources:
    <ul>
        <li><a href="https://www.iso.org/obp/ui/#iso:std:iso-iec:27000:ed-5:v1:en" target="_blank">ISO/IEC 27000:2018(en): Information technology</a></li>
        <li><a href="https://www.certmike.com/confidentiality-integrity-and-availability-the-cia-triad/" target="_blank">Confidentiality, Integrity and Availability – The CIA Triad</a></li>
    </ul>
</div>
</div>
</main>
<footer>
    <%- fakeInfo %>
    <hr>
    CST336 Internet Programming. 2020&copy;Terrado <br />
    <strong>Disclaimer:</strong> The information in this webpage is fictitious. <br />
    It is used for academic purposes only.
    <br /><br /><img src="img/csumb_logo.png" alt="CSU Monterey Bay" />
</footer>
</body>

</html>
