<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Information Security</title>
        <style>#<%= currentPage %> {background-color: #5798a6;}</style>
        <link href="css/styles.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Turret+Road:wght@700&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <h1>Information Security</h1>
        </header>
        <nav>
            <a href="/" id="about">About</a>
            <a href="/confidentiality" id="confi">Confidentiality</a>
            <a href="/integrity" id="integ">Integrity</a>
            <a href="/availability" id="avail">Availability</a>
        </nav>
        <br /><br />
        <main>
