<%- include('partials/header.ejs') %>
            <figure>
                <img src="img/availability.jpg" id="mainimg" alt="Availability" />
                <figcaption>Image Source: <a href="https://www.shutterstock.com/image-vector/abstract-world-network-internet-global-connection-606660923" target="_blank">Shutterstock</a></figcaption>
            </figure>
            <div id="content">
                <h2>What is availability?</h2>
                Availability is defined by the International Organization for Standardization as follows:
                <blockquote>property of being accessible and usable on demand by an authorized entity</blockquote>
                This means making sure that your data is not obstructed from being accessed.
                <br /><br />
                <h2>How it can be threatened</h2>
                An improperly-maintained system can have access to it disrupted non-maliciously, due to hardware failures or bandwidth issues.
                Attackers can also force the disruption of service, with a famous method being a Denial of Service (DoS) attack. This overloads a server with numerous access requests, so many that legitimate users are left unable to access or can only do so with degraded speed.
                <hr />
<%- include('partials/footer.ejs') %>
