<%- include('partials/header.ejs') %>
            <figure>
                <img src="img/confidentiality.jpg" id="mainimg" alt="Confidentiality" />
                <figcaption>Image Source: <a href="https://depositphotos.com/17928103/stock-photo-man-handling-confidential-documents.html" target="_blank">Depositphotos</a></figcaption>
            </figure>
            <div id="content">
                <h2>What is confidentiality?</h2>
                Confidentiality is defined by the International Organization for Standardization as follows:
                <blockquote>property that information is not made available or disclosed to unauthorized individuals, entities, or processes</blockquote>
                This means protecting your data from those who you do not want to access it.
                <br /><br />
                <h2>How it can be threatened</h2>
                Information that is placed on an unprotected server can be discovered by those who are not meant to see it, and other, more direct options by attackers include stealing passwords or capturing network traffic.
                <hr />
<%- include('partials/footer.ejs') %>
