<%- include('partials/header.ejs') %>
            <figure>
                <img src="img/about.jpg" id="mainimg" alt="Information Security" />
                <figcaption>Image Source: <a href="https://www.123rf.com/photo_64366454_digital-security-concept.html" target="_blank">123RF</a></figcaption>
            </figure>
            <div id="content">
                <h2>About</h2>
                In today's technology-reliant world, <b>information security</b> has become more important than ever
                in order to protect the computer systems that house and transport our precious data.
                <br /><br />
                There are three primary concepts that summarize how data can be made more (or less) secure: <b>confidentiality</b>, <b>integrity</b>, and <b>availability</b>.
                Systems that fulfill all three concepts can be said to be comprehensively secure.
                <hr />
<%- include('partials/footer.ejs') %>
