<%- include('partials/header.ejs') %>
            <figure>
                <img src="img/integrity.jpg" id="mainimg" alt="Integrity" />
                <figcaption>Image Source: <a href="https://www.shutterstock.com/image-illustration/destroyed-data-stream-3d-illustration-518466241" target="_blank">Shutterstock</a></figcaption>
            </figure>
            <div id="content">
                <h2>What is integrity?</h2>
                Integrity is defined by the International Organization for Standardization as follows:
                <blockquote>property of accuracy and completeness</blockquote>
                This means ensuring that your information has not been edited or have had portions of it deleted without authorization.
                <br /><br />
                <h2>How it can be threatened</h2>
                Data can be lost or corrupted on accident due to improper storage or malfunctioning connections on which the information is transmitted.
                Alternatively, bad actors can directly tamper the content of data by accessing improperly protected systems.
                <hr />
<%- include('partials/footer.ejs') %>
